<h1>Listing interesting_things for <%= @student.name %></h1>

<table>
  <thead>
  </thead>

  <tbody>
    <% @interesting_things.each_with_index do |interesting_thing, index| %>
      <tr>
        <td><%= index + 1 %>)</td>
        <td><%= interesting_thing.name %></td>
        <% if can? :manage, interesting_thing %>
          <td><%= link_to 'Edit', edit_student_interesting_thing_path(interesting_thing.student, interesting_thing) %></td>
          <td><%= link_to 'Destroy', student_interesting_thing(interesting_thing.student, interesting_thing), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <% if current_user.admin? %>
      <% @other_interesting_things.each_with_index do |interesting_thing, index| %>
      <tr>
        <td><%= index + 1 %>)</td>
        <td><%= interesting_thing.name %></td>
        <td>_________________________</td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interesting thing', new_student_interesting_thing_path %>
